$colRed:red;
$colWhite:white;
$colBlack:Black;
$colYellow:yellow;

* {
box-sizing: border-box;
}

.row::after {
content: "";
clear: both;
display: table;
}
[class*="col-"] {
float: left;
padding-left: 15px;
padding-top: 0px;
padding-right: 15px;
padding-bottom: 15px;
}
html {
font-family: "Lucida Sans", sans-serif;
}
.header {
background-color: #ffffff;
color: black;
padding: 15px;

}
.navbar{
  overflow: auto;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 0px;
}

.container-fluid { 
  border-radius: 5px;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;

  a{
    font-size: 18px;
    color: red;
  }
  
}
.navbar{
 .nav{
  a{
    font-size: 18px;
    color: $colBlack;
      &.active{
          background-color: $colRed;
          color: $colWhite;
          text-decoration:underline;
          border-radius: 5px;
      }
      &:hover{
          background-color: $colRed;
          color: $colWhite;
          text-decoration:underline;
          border-radius: 5px;
         // margin: 0px 5px 0px 0px;
      }

  }

}
}
.header{
  overflow: auto;
  background-color:$colWhite;
  //padding: 20px 10px;
      
  a{
    font-size: 18px;
    color: $colRed;

      &.logo{
          //margin-left:30px;
          font-size: 25px;
          font-weight: bold;
          color: $colRed;
      }
      &.active{
          background-color: $colRed;
          color: $colWhite;
          text-decoration:underline;
          
      }
  }
  
}



  .burger-icon span{
    display: block;
    border: none;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    right: 0;
  }

  .section{
    //border: 1px solid red;
    width: auto;
    height: 500px;
    margin-bottom: 0px;
    .content{
        width: auto;
        height: 450px;
        
        border-radius: 5px;
        background: #ffffff;
        color: #000;
       
        box-shadow: 0px 7px 5px 0px grey;
        position: relative;
        //z-index: 1;
        .blackimg{
          float: left;
          width: 40%;
          height: 100%;
          background-color: rgba(0, 0, 0, 1);
          z-index: 1;
          position: absolute;
         
        }
        .imgm{
           float: right;
           width: 60%;
           border-radius: 5px;
            img{
              float: right;
                width: 60%;
                height: 100%;
                display: block;
                padding: 0;
                position: absolute;
                top: 0;
                right: 0;
                object-fit: cover;
            } 

        }
        
        .mask{
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(121, 122, 124, 0.5);
        }
    }
    
  }

  .paraph{
    color: rgba(255, 255, 255, 1);
    margin-top:30px;
    margin-left: 10px;
    //border:1px solid red; 
    width:450px;
    height:auto;
    z-index: 2;
    position: relative;
  }
  .paraphT{
    color: rgba(255, 255, 255, 1);
    padding-top:0px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    width:auto;
    height:auto;
    //border:1px solid yellow; 
    z-index: 2;
    position: relative;
    p{
      font-size: 15px;
    }
  }
  .buttonM{
    border: none;
    z-index: 2;
    position: relative;
    //border: 1px solid blue;
    width: auto;
    height: 50px;
    margin-top:50px;
    margin-left:0px;
    margin-bottom: 0px;
    button{
      border: none;
      height: auto;
      width: auto;
      color: #ffffff;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: rgba(204, 0, 0, 1);
      border-radius: 5px;
    }
  }
  .cop {
    background-color: #ffffff;
    color: rgba(204, 0, 0, 1);
    text-align: left;
    font-size: 12px;
    padding: 15px;
  }

  .next{
    h1{
      margin-top: 5px;
    }
    .paraph{
      color: rgba(0, 0, 0, 1);
      margin-top:10px;
      font-size: 2em;
      margin-left: 10px;
      //border:1px solid red; 
      width:auto;
      height:auto;
      z-index: 1;
      position: relative;
    }
    .paraphT{
      color: rgba(0, 0, 0, 1);
      padding-top:0px;
      padding-left: 0px;
      padding-bottom: 10px;
      margin-left: 10px;
      width:auto;
      height:auto;
      //border:1px solid yellow; 
      z-index: 1;
      position: relative;
      p{
        font-size: 20px;
      }
    }

    /*.cop {
      background-color: #ffffff;
      color: rgba(204, 0, 0, 1);
      text-align: left;
      font-size: 12px;
      padding: 15px;
    }*/
  }
  .caps{
    width: auto;
    height: auto;
    //border: 1px solid yellow;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 2px;
    .buttonN{
      z-index: 1;
      border: none;
      width: auto;
      height: auto;
      margin-top:0px;
      margin-bottom: 0px;
      margin-left:0px;
      margin-right: 0px;
      button{
        border: none;
        height: auto;
        width: auto;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: rgba(204, 0, 0, 1);
        border-radius: 5px;
      }
    }
  }



 
#exampleModalLong{
	background-color:transparent;
  overflow: auto;
 /* &.modal{
    &.fade{
        margin-top: 0px;
        display: block;
        padding-left: 0px;
        background-color: transparent;
 
    }
  }*/
 
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 6px; 
  
    resize: vertical ;
}
input[type=date]{
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 6px; 
  
    resize: vertical ;
}

input[type=number]{
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  margin-top: 6px; 

  resize: vertical ;
}

input[type=submit] {
	margin-left:auto;
	margin-right:auto;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}
 
#psucces{
	font-size:2em;
	text-align: center;
}

.falseM{
	margin-top:0px;
	font-size:0.9em;
	color:red;
	
}


@media screen and (max-width: 540px) {
  .section{
    //border: 1px solid red;
    width: auto;
    height: 500px;
    margin-bottom: 0px;
    
    .content{
        width: auto;
        height: 450px;
        //border: 1px solid blue;
        background: #ffffff;
        color: #000;
        //padding: 20px;
        box-shadow: 0px 0px 5px 0px black;
        position: relative;
        //z-index: -1;
        .blackimg{
          display: none;
          visibility: hidden;

        }
        .imgm{
           float: right;
           width: 100%;
            img{
              float: right;
                width: 100%;
                height: 100%;
                display: block;
                padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }

        }
        
        .mask{
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(121, 122, 124, 0.5);
        }
    }
    
  }
 
}


  @media screen and (min-width: 800px) {
  
    .paraphT{
      color: rgba(255, 255, 255, 1);
      padding-top:0px;
      padding-left: 0px;
      padding-bottom: 10px;
      margin-left: 10px;
      width:auto;
      height:auto;
      //border:1px solid yellow; 
      z-index: 2;
      position: relative;
      p{
        font-size: 20px;
      }
    }

    .buttonM{
      z-index: 2;
      position: relative;
      //border: 1px solid blue;
      width: auto;
      height: 40px;
      margin-top:2px;
      margin-left:0px;
      button{
        height: auto;
        width: auto;
        font-size: 25px;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: rgba(204, 0, 0, 1);
        border-radius: 9px;
      }
    }
    .cop {
      background-color: #ffffff;
      color: rgba(204, 0, 0, 1);
      text-align: left;
      font-size: 18px;
      padding: 15px;
      }
  }



  @media screen and (max-width: 540px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      margin-top: -15px;
    }
  } 


[class*="col-"] {
width: 100%;
}
@media only screen and (min-width: 600px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}